.wrapper {
	height: calc(100vh - var(--welcome-nav-height));
	display: flex;
	flex-direction: column;
	background: var(--welcome-bg-end);
	background: linear-gradient(
		0deg,
		var(--welcome-bg-end) 0%,
		var(--welcome-bg-start) 100%
	);
	margin-bottom: var(--welcome-nav-height);
	> header {
		flex-shrink: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-top: 66px;
		color: #fde9e9;
		> img {
			height: 8vh;
		}
	}
	> main {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
	}
}
