:root {
	--welcome-card-bg: white;
	--welcome-text: white;
	--welcome-bg-start: rgba(239, 97, 134, 1);
	--welcome-bg-end: rgba(231, 172, 172, 1);
	--welcome-nav-height: 64px;
	--welcome-nav-gap: 8px;
	--z-index-bottom-nav: 10;
}
