:root {
	--amount-text: #53a867;
	--button-bg: #eb507e;
	--button-border-color: #ddd;
	--button-font-size: 18px;
	--button-height: 48px;
	--button-radius: 8px;
	--button-text: white;
	--date-text: #999999;
	--emoji-nav-text-selected: #333;
	--emoji-nav-text: #999;
	--error-color: #e10505;
	--float-button-bg: var(--button-bg);
	--float-button-text: white;
	--input-border-color: #ef6186;
	--input-min-height: 48px;
	--input-radius: var(--button-radius);
	--input-shadow: rgba(0, 0, 0, 0.25);
	--navbar-bg-end: var(--welcome-bg-end);
	--navbar-bg-start: var(--welcome-bg-start);
	--navbar-text: white;
	--number-button-bg-important: #ef6186;
	--number-button-bg: white;
	--number-button-text-important: white;
	--main: #ef6186;
	--overlay-bg: white;
	--overlay-mask-bg: rgba(0, 0, 0, 0.5);
	--overlay-user-bg: #ef6186;
	--overlay-user-text: white;
	--tabs-indicator-bg: rgba(255, 255, 255, 0.5);
	--top-safe-area-height: 24px;
	--transition-duration: 0.5s;
	--tag-bg: #efefef;
	--welcome-bg-end: rgba(231, 172, 172, 1);
	--welcome-bg-start: rgba(239, 97, 134, 1);
	--welcome-card-bg: white;
	--welcome-nav-gap: 8px;
	--welcome-nav-height: 64px;
	--welcome-text: white;
	--z-index-bottom-nav: 8;
	--z-index-overlay: 16;
}
